/*
0-600px: 		Phone
600-900px:		Tablet portrait
900-1200px:		Tablet landscape
[1200-1800] is where our normal styles apply
1800px + :		Big desktop


$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px (em is the way to go for mediaqueries)
*/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  /* This defines what 1rem is*/
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h3,
p {
  color: white;
  text-transform: uppercase;
  display: block;
}

h1 {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 1rem;
  margin: 2rem;
}

h3,
p {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 4rem;
}

.shiny-info-modal p {
  padding: 1rem;
  font-size: 2rem;
}

.disp-none {
  display: none;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.svg-box {
  width: 78rem;
  -webkit-transform: translate(-65rem, -5.5rem);
          transform: translate(-65rem, -5.5rem);
  z-index: -100;
}

.section-shiny {
  width: 100vw;
  height: 100vh;
}

.shiny-box {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  margin-top: 3rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2);
          box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2);
}
.btn:hover::after {
  -webkit-transform: scaleY(2.4);
          transform: scaleY(2.4);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2);
}
.btn--white {
  background-color: white;
  color: black;
}
.btn--white::after {
  background-color: white;
}
.btn--green {
  background-color: #ff6347;
  color: white;
}
.btn--green::after {
  background-color: #ff6347;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  /* simple solution for starting at keyframe 0 (not visible) */
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #ff6347;
  display: inline-block;
  text-decoration: none;
  border-radius: 10rem;
  padding: 1rem 2rem;
  border: 1px solid #ff6347;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #ff6347;
  color: white;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.shiny-box__button {
  position: absolute;
  bottom: 6rem;
  right: -2rem;
  border: solid black 0.1rem;
}

.btn--shiny--back {
  margin-bottom: 6rem;
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: url(https://res.cloudinary.com/advgrip/image/upload/v1656326622/000060360005_small_aaehz6.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: 1000;
}

.section-shiny {
  background-color: grey;
  height: 100vh;
}

.shiny-intro-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: url(https://res.cloudinary.com/advgrip/image/upload/v1656326622/000060360005_small_aaehz6.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: 1000;
}

.shiny-intro-modal h1 {
  background-color: rgba(255, 99, 71, 0.5);
  border-radius: 5px;
  padding: 1rem;
}

.shiny-info-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: url(https://res.cloudinary.com/advgrip/image/upload/v1656326622/000060360005_small_aaehz6.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: 500;
  display: none;
}
.shiny-info-modal__container {
  background-color: rgba(255, 99, 71, 0.6);
  border-radius: 5px;
  margin: 2rem;
}