*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  min-height: 100vh;
  background: linear-gradient(
      to right bottom,
      rgba(176, 225, 233, 0.1),
      rgba(34, 184, 209, 0.4)
    ),
    url("./fraser/hero.jpg") center/cover no-repeat;
  place-items: center;
}
