.section-shiny {
	background-color: $color-grey-light-1;
	height: 100vh;

	// @include respond(tab-port) {
	// 	padding: 20rem 0;
	// }
}

.shiny-intro-modal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	height: 100vh;
	width: 100vw;
	text-align: center;
	background: url(https://res.cloudinary.com/advgrip/image/upload/v1656326622/000060360005_small_aaehz6.jpg)
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 1000;
	// display: none;
}
